<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
sudo cp contrib/start-scripts/osx/org.postgresql.postgresql.plist /Library/LaunchDaemons/
sudo launchctl load -w /Library/LaunchDaemons/org.postgresql.postgresql.plist
-->

<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>org.postgresql.postgresql</string>
	<key>UserName</key>
	<string>postgres</string>
	<key>GroupName</key>
	<string>postgres</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/pgsql/bin/postgres</string>
		<string>-D</string>
		<string>/usr/local/pgsql/data</string>
	</array>
    <key>StandardOutPath</key>
    <string>/usr/local/pgsql/data/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/pgsql/data/launchd.log</string>
	<key>OnDemand</key><!-- OS X 10.4 -->
	<false/>
	<key>KeepAlive</key><!-- OS X 10.5+ -->
	<true/>
</dict>
</plist>
